.q-remove-button {
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Padding for size */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .q-remove-button i {
    color: #dc3545; /* Red icon color */
  }
  body {
    overflow-y: auto;
    height: 100%;
  }

  body.modal-open {
    overflow: visible !important;
    padding-right: 0 !important; /* Reset padding added for scrollbar compensation */
  }