
<h2>Angular Query Builder</h2>
<query-builder [(ngModel)]='query' [config]='config' [classNames]='classNames' [newData]="ruleEngineJson">
  <ng-container *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet" >
<button
  type="button"
  class="btn btn-primary mr-2"
  (click)="addRule()"
>
  + Rule
</button>    <button type="button" class="btn btn-secondary mr-2
    " (click)="addRuleSet()">+ Ruleset</button>

    
  </ng-container>

</query-builder>
<button type="button" class="btn btn-success" (click)="submit()">Submit</button>


