    <!-- Rule Buttons -->
    <div
      *ngIf="ifData"
    >
      <div class="rules-line">
        <ng-container *ngIf="ifData && ifData.conditions">
          <app-rule-component
            [condition]="ifData.conditions"
          ></app-rule-component>
        </ng-container>
      </div>
      <div class="rules-line">
        <ng-container *ngIf="ifData && ifData.then && ifData.then.if">
          <app-main-page
            [ifData]="ifData.then.if"
          ></app-main-page>
        </ng-container>
        <ng-container *ngIf="ifData && ifData.then && ifData.then.action">
          <app-action [actionData]="ifData.then.action">
          </app-action>
        </ng-container>
      </div>
      <div class="rules-line">
        <ng-container *ngIf="ifData && ifData.else && ifData.else.if">
          <app-main-page
            [ifData]="ifData.else.if"
          ></app-main-page>
        </ng-container>
        <ng-container *ngIf="ifData && ifData.else && ifData.else.action">
          <app-action [actionData]="ifData.else.action">
          </app-action>
        </ng-container>
      </div>
    </div>
